$background-dark: #2c281e;
$gold: #daa520;
$cream: #f5f5dc;

.aluguer-instalacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $cream;
  background: linear-gradient(to right, #f5f5dc 0%, #e6d8c3 50%, #c2a886 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  height: auto;
  min-width: 100%;

  .aluguer-title, .access, .pricing {
    background-color: rgba($background-dark, 0.75);
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    width: 50%; 
    margin-bottom: 2%;
  }

  h1, h2 {
    color: $gold;
  }

  img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding-left: 20px;
      background-image: url('../assets/ulfalcon.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 16px 16px;
      line-height: 20px;
      margin-bottom: 5px;
      margin-top: 15px;
    }
  }

  .small-letters {
    font-size: x-small;
    text-align: center;
    background-color: $background-dark;
    color: $cream;
  }
}
.accordion-instalacoes {
  width: 50%;
}

@media (max-width: 768px) {
  .aluguer-instalacoes {
    flex-direction: column;
    align-items: center; 
    padding: 1rem;
  }

  .aluguer-title, .access, .pricing, .accordion-item {
    width: 100% !important; 
    padding: 15px;
    margin-bottom: 10px; 
  }
  .accordion-instalacoes {
  width: 100% !important;
}

  .pricing h2 {
    margin-top: 20px; 
  }

  .access img {
    max-height: 200px; 
    max-width: 80%; 
  }
}
