.aves-rapina {
    background: linear-gradient(to right, #f5f5dc 0%, #e6d8c3 50%, #c2a886 100%);
  color: #2c281e;
  padding: 20px;
  font-family: 'Arial', sans-serif; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin: auto; 
  width: 100%;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center;

  .info-box {
    background: linear-gradient(to right, #ffffff, #f9f9f9); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 20px; 
    max-width: 800px; 
    width: 100%; 

    h1 {
      color: #daa520; 
      font-size: 2rem; 
      text-align: center; 
    }

    p {
      text-align: center;
      color: #333; 
      line-height: 1.5; 
    }

    ul {
      list-style: none; 
      padding: 0;

      li {
        margin-bottom: 10px; 

        a {
          color: #daa520; 
          text-decoration: none; 

          &:hover {
            text-decoration: underline; 
          }
        }
      }
    }
  }

  .aves-container {
    width: 100%; 
    padding: 0 20px; 

    .my-2 {
      margin-bottom: 20px; 
    }

    .card {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); 

      .card-body {
        padding: 10px; 
        .btn {
          background-color: #daa520; 
          color: white; 
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .aves-rapina {
    padding: 10px; 

    .info-box, .aves-container {
      padding: 10px;
      max-width: 100%; 
    }
  }
}
