$background-dark: #2c281e;
$gold: #daa520;
$cream: #f5f5dc;

.controlo-avifauna {
  color: $cream;
  background-image: url("../assets/bgcontrolo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  height: calc(100vh - 116px); 
  min-width: 100%;
  overflow: hidden;
  text-align: justify;

  h1 {
    color: $gold;
    text-align: center;
  }

  h2 {
    color: $gold;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding-left: 20px;
      background-image: url('../assets/ulfalcon.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 16px 16px;
      line-height: 20px;
      margin-bottom: 5px;
    }
  }
}

.controlo-toptitle {
  background-color: rgba($background-dark, 0.75);
  border-radius: 16px;
  margin-bottom: 2%;
  padding: 20px;
}

.controlo-leftbox, .controlo-rightbox {
  background-color: rgba($background-dark, 0.75);
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
}

.contact-modal {
  border-radius: 16px;
  .modal-header {
    background-color: #daa520;
    color: #fff;
    padding: 15px 25px;
    border-bottom: 2px solid #c9b458;

    .c-modal-title {
      font-family: 'Arial', sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  .modal-body {
    background-color: #ffffff;
    color: #333;
    padding: 20px 25px;
    font-size: 1rem;
    text-align: center;

    ul {
      padding: 0;
      margin-top: 10px;
      list-style-type: none;

      li {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 10px;

        a {
          color: #daa520;
          font-weight: 600;
          text-decoration: none;

          &:hover, &:focus {
            text-decoration: underline;
            color: #b38600;
          }
        }
      }
    }
  }

  .c-modal-footer {
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-top: 1px solid #dcdcdc;
    text-align: right;

    .c-button {
      background-color: #daa520;
      color: #fff;
      border-color: #daa520;

      &:hover {
        background-color: #b38600;
        border-color: #b38600;
      }
    }
  }
}

.accordion {
  background-color: transparent;
  border: none;

  .accordion-item {
    background-color: rgba($background-dark, 0.85);
    border: 1px solid $gold;
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 0.5rem;

    .accordion-header {
      font-size: 1.25rem;
      color: $gold;

      .accordion-button {
        color: $cream;
        background-color: rgba($background-dark, 0.85);
        &::after {
          background-image: url("../assets/adown.png") !important;
        }
        &:focus {
          border-color: $gold;
          box-shadow: none;
        }
        &:not(.collapsed) {
          background-color: darken($background-dark, 5%);
          color: $gold;
        }
      }
    }

    .accordion-body {
      font-size: 1rem;
      background-color: darken($background-dark, 5%);
      color: $cream;
    }
  }
}

@media (max-width: 768px) {
  .controlo-avifauna {
    padding: 1rem;
  }

  .controlo-toptitle, .controlo-leftbox, .controlo-rightbox {
    padding: 10px;
    margin-bottom: 10px;
  }

  .accordion .accordion-item {
    font-size: 0.875rem; 
  }
}
