$background-dark: #2c281e;
$gold: #daa520;
$cream: #f5f5dc;

.img-accordion {
  width: 100%;
}

.btn-wedd-container {
  display: flex;
  justify-content: space-between;
}

.title-box {
  background-color: rgba($background-dark, 0.75);
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 20px; 
    max-width: 800px; 
    width: 100%; 

    h1 {
      color: #daa520; 
      font-size: 2rem; 
      text-align: center; 
    }

    p {
      text-align: center;
      color: #ffffff; 
      line-height: 1.5; 
    }

    ul {
      list-style: none; 
      padding: 0;

      li {
        margin-bottom: 10px; 

        a {
          color: #daa520; 
          text-decoration: none; 

          &:hover {
            text-decoration: underline; 
          }
        }
      }
    }
  
}

.eventos-container {
  color: $cream;
  background: linear-gradient(to right, #f5f5dc 0%, #e6d8c3 50%, #c2a886 100%);
  padding: 2rem;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: justify;
  min-width: 100%;

  h1, h2 {
    color: $gold;
    text-align: center; 
  }

  .accordion {
    background-color: transparent;
    border: none;
    width: 80%; 
    margin: auto; 

    .accordion-item {
      background-color: rgba($background-dark, 0.85);
      border: 1px solid $gold;
      margin-bottom: 1rem;
      border-radius: 8px;
      padding: 0.5rem;

      .accordion-header {
        font-size: 1.25rem;
        color: $gold;

        .accordion-button {
          color: $cream;
          background-color: rgba($background-dark, 0.85);

          &::after {
            background-image: url("../assets/adown.png") !important;
          }
          &:focus {
            border-color: $gold;
            box-shadow: none;
          }
          &:not(.collapsed) {
            background-color: darken($background-dark, 5%);
            color: $gold;
          }
        }
      }

      .accordion-body {
        font-size: 1rem;
        background-color: darken($background-dark, 5%);
        color: $cream;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding-left: 20px;
      background-image: url('../assets/ulfalcon.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 16px 16px;
      line-height: 20px;
      margin-bottom: 5px;
    }
  }
}

.zoomable-image {
  transition: transform 0.3s ease-in-out;
  
  &:hover {
    transform: scale(2);
    cursor: zoom-in;
  }
}

a {
  color: #daa520;
  text-decoration: none;
  &:hover {
    color: darken($gold, 10%);
  }
}

@media (max-width: 768px) {
  .eventos-container .accordion {
    width: 100%; 
  }

  .accordion .accordion-item .accordion-button {
    padding: 0.5rem; 
  }

  .aves-container .row .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .btn-wedd-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

  .btn-wedd {
    margin-bottom: 10px;
  }
}
}
