$text-color: #fff; 

.homepage-hero {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-end; 
  text-align: right; 
  height: calc(100vh - 116px); // 116px é a heigth da navbar (excepto em mobile < 560px de width)
  width: 100%; 
  padding: 2rem;
  background-image: url("../assets/falcaobg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 30%;
   

  h2 {
    font-size: 5rem;
  } 
  p {
    font-size: large;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .homepage-hero {
    align-items: center; 
    text-align: center;
    padding-right: 0;
  }
}
