// Defining the new color palette
$text-color: #fff; // White for text
$primary-color: #0e3131; // Deep Forest Green as primary color


.homepage-hero {
  padding: 2rem;
  color: $text-color;
  background-color: lighten($primary-color, 10%); // Slightly lighter forest green
  text-align: center;

  h2, p {
    margin-bottom: 1rem;
  }
}

.homepage-cards {
  .card {
    margin-top: 1rem;
    padding: 1rem;

    .card-title {
      color: darken($primary-color, 10%); // Slightly darker forest green
    }
  }
}
