.material-falcoaria {
  background-image: url("../assets/materialbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #2c281e; 
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 

  .materialtext-container {
    background: linear-gradient(
      to right,
      #ffffff,
      #f9f9f9
    ); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 30px; 
    margin-top: 10%; 
    max-width: 600px; 
    width: 100%; 
    text-align: center; 
    align-self:self-start; 

    h1 {
      color: #daa520; 
      margin-bottom: 20px; 
      font-size: 2rem; 
    }

    p {
      font-size: 1rem;
      line-height: 1.8; 
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 15px; 

        a {
          color: #daa520; 
          text-decoration: none; 

          &:hover {
            text-decoration: underline; 
          }
        }
      }
    }
  }
}
