.bg-light {
  background-color: #2c281ec5 !important;
}

.btn-services {
  border-width: 0;
  background: none !important;
}

.navbar {
  padding: 0.5rem 1rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.75);

  .navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #daa520;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    gap: 10%;
  }

  .nav-link {
    color: #daa520;
    &:hover {
      color: #0d4d4d;
      text-decoration: none;
    }
  }

  .dropdown-menu {
    background-color: #fff;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }

  .dropdown-item {
    color: #333;
    &:hover {
      background-color: #f5f5dc;
    }
  }
}

.navbar-logo {
  height: 90px;
  width: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease, box-shadow 0.3s ease;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-right: 5%;
}

.dropdown-toggle {
  background-color: #2c281e;
  color: #daa520;
  &:hover, &:focus, &:active {
    background-color: #414036;
    color: #ffffff;
  }
  &[aria-expanded="true"] {
    background-color: #364026;
    color: #ffffff;
  }
}


@media (min-width: 992px) { 
  .navbar-nav {
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
  }

  .nav-item {
    margin-right: 20px; 
  }

  .navbar-collapse {
    flex-grow: 1; 
    justify-content: flex-end; 
  }

  
}

@media (max-width: 768px) {

  .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    width: 100%;
  }

  .dropdown-menu {
    position: static;
    float: none;
  }

  .dropdown-toggle {
    background-color: #2c281e;
    color: #daa520;
    &:hover, &:focus, &:active {
      background-color: #414036;
      color: #ffffff;
    }
    
    &[aria-expanded="true"] {
      background-color: #364026;
      color: #ffffff;
    }
  }
  .btn-services {
    margin-left: -10px !important;
  }
}

@media (max-width: 500px) {
  .navbar-title {
    //display: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 0;
    margin: 0;

    span {
      padding-top: 5px;
      font-size: 15px;
    }
  }
}

@media (max-width: 1600px) and (min-width: 768px){
  .homepage-hero h2 {
    max-width: 61%;
  }
}

.navbar-toggler {
    background-color: #daa520;
    border: none;
  }
.navbar-toggler:active,
  .navbar-toggler:focus {
    background-color: #daa520;
    outline: none;
    box-shadow: none;
  }